.promo {
  position: relative;
  color: @basic-white;
  background-color: #666;
}

.promo__content {
  position: absolute;
  top:0;
  left:50%;
  transform:translate(-50%, 0);
  width: 85%;
  max-width: 1200px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

.promo__video {
  width: 100%;
  display: block;
  object-fit: cover;
  border: none;
  filter: brightness(33%);

  @media (max-width: @mobile-width-only) {
    height: 730px;
  }

  @media (min-width: @tablet-width) {
    height: 600px;
  }
}

.promo__title {
  grid-column: -1/1;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo__img {
  width: 100px;
  display: block;
  align-self: center;
  object-fit: cover;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 200px;
  }
}

.promo__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo__item {
  margin: 0 0 20px 0;

  &:last-child {
    margin: 0;
  }
}

.promo__button {
  grid-column: -1/1;
  justify-self: center;
  margin: 60px 0 0 0;
}
